@using SmartLaundry.Models.DormitoryViewModels
@model SmartLaundry.Models.HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<br />

@if(SignInManager.IsSignedIn(User))
{
    <h>Your id: @UserManager.GetUserId(User)</h>

    if(Model.DayViewModel != null)
    {
        @await Html.PartialAsync("../Dormitory/_announcementsPartial", new AnnouncementsList(Model.Announcements, Model.Dormitory))
        @await Html.PartialAsync("../Laundry/_DayPartial", Model.DayViewModel)
    }
}
else
{
    <div class="row">
        <div class="col-md-4">
            <section>
                @await Html.PartialAsync("../Home/_loginFormPartial", Model.LoginViewModel)
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                @await Html.PartialAsync("../Home/_registerFormPartial", Model.RegisterViewModel)
            </section>
        </div>
    </div>
}

@section Scripts {
    @await  Html.PartialAsync("_ValidationScriptsPartial")
}
