@using SmartLaundry.Models.DormitoryViewModels
@model SmartLaundry.Models.HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<br />

@if(SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-12 col-centered">
            <div class="form-box">
                <div class="form-top-simple">
                    <div class="form-top-full">
                        <h3>
                            <b>@Localizer["Hello"] @UserManager.GetUserName(User)</b>
                        </h3>
                    </div>
                </div>
                <div class="form-bottom">
                    <b></b>
                </div>
            </div>
        </div>
    </div>

    if(Model.DayViewModel != null)
    {
    @await Html.PartialAsync("../Dormitory/_announcementsPartial", new AnnouncementsList(Model.Announcements, Model.Dormitory))
    @await Html.PartialAsync("../Laundry/_DayPartial", Model.DayViewModel)
    }
    }
    else
    {
    <div class="row">
        <div class="col-md-6">
            <section>
                @await Html.PartialAsync("../Home/_loginFormPartial", Model.LoginViewModel)
            </section>
        </div>
        <div class="col-md-6">
            <section>
                @await Html.PartialAsync("../Home/_registerFormPartial", Model.RegisterViewModel)
            </section>
        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
