@using SmartLaundry.Authorization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model SmartLaundry.Models.DormitoryViewModels.AnnouncementsList

<h4>Announcements</h4>
@foreach (var item in Model.Announcements)
{
    <p>
        @item.Message --- @item.PublishingDate
    </p>
    if ((await AuthorizationService.AuthorizeAsync(User, "MinimumManager")).Succeeded 
        && (await AuthorizationService.AuthorizeAsync(User, Model.Dormitory, AuthPolicies.DormitoryMembership)).Succeeded)
    {
        <form method="POST" asp-action="RemoveAnnouncement" asp-controller="Dormitory">
            <input type="hidden" name="announcementId" value="@item.Id"/>
            <input type="submit" value="RemoveAnnouncement"/>
        </form>
    }
}
<hr/>

@if ((await AuthorizationService.AuthorizeAsync(User, "MinimumManager")).Succeeded
     && (await AuthorizationService.AuthorizeAsync(User, Model.Dormitory, AuthPolicies.DormitoryMembership)).Succeeded)
{
    <form method="POST" asp-action="AddAnnouncement" asp-controller="Dormitory">
        <input type="text" name="message"/>
        <input type="hidden" name="DormitoryId" value="@Model.Dormitory.DormitoryId"/>
        <input type="submit" value="Add announcement"/>
    </form>
}