@model ResetPasswordViewModel
@{
    ViewData["Title"] = Localizer["ResetPasswordTitle"];
}

<div class="row">
    <div class="col-md-12 col-centered">
        <div class="form-box">
            <div class="form-top-simple">
                <div class="form-top-full">
                    <h3>
                        <b>@ViewData["Title"]</b>
                    </h3>
                </div>
            </div>
            <div class="form-bottom">
                <h4>@Localizer["ResetPasswordMessage"]</h4>
                <hr />
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-info">@Localizer["Reset"]</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}